---
import Layout from '../layouts/Layout.astro';
const pageTitle = "IJT Garden";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>My Garden</h1>
    <span class="badge">Software Developer</span>
    <h2>About</h2>
    <ul class="no-bullets">
        <li style="margin-top:10px">Software Developer @ <a style="text-decoration: none" href="https://www.bytron.aero/" target="_blank">Bytron Aviation Systems</a></li>
        <li style="margin-top:10px">Currently building <a href="we-workout.vercel.app" target="_blank">WeWorkout</a></li>
        <li style="margin-top:10px;margin-bottom:10px">Interested in Computer Vision for sports and Data Analytics</li>
    </ul>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original-wordmark.svg"/>
        <img class="skills__img" width="46" height="46" alt="PHP" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Symfony" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/symfony/symfony-original-wordmark.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        I've always loved playing sports, and go gym 3 times a week, play american football twice a week and football once a week. <br><br>
        I thorougly enjoy it and in my future i very much want to use my programming skills with sports, maybe even record a few videos, and write a few blogs. <br><br>
        I suck at these sports though dont get it twisted lol
    </p>
</Layout>
